<div class="flex flex-row justify-center gap-2 min-h-screen">
  <div
    class="view-blog-page relative top-4 flex flex-col w-full h-full"
  >
    <div
      class="flex flex-col gap-2 w-full pb-4"
    >
      <div
        class="text-foreground text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold"
      >
        {{ blogPost?.title }}
      </div>
      <div class="flex flex-wrap gap-x-4 gap-y-0">
        <span class="font-bold text-contrast">{{
          blogPost?.created_at
        }}</span>
      </div>
    </div>
    @if (this.isLoading) {
    <skeleton-loader
      class="h-full w-full flex-1 min-h-screen bg-theme-900 [&_div]:h-screen"
    />
    } @else {
    <div class="w-full h-full relative">
      <div
        class="flex-1 overflow-auto flex flex-col transition-colors text-nowrap text-foreground"
      >
        <markdown-editor
          class="md-editor hidden overflow-hidden h-full w-full absolute top-0 left-0 right-0 bottom-0 z-10 opacity-0"
          (mdResult)="markdownChanged($event)"
          [showRenderer]="false"
        ></markdown-editor>
        @if (this.markdownNode) {
        <markdown-renderer-html
          class="inline-block text-wrap pt-4 [&_h3]:font-bold [&&_h3]:mb-1 [&&_h3]:mt-6"
          [parsedContent]="this.markdownNode.content"
        >
        </markdown-renderer-html>
        }
      </div>
    </div>
    }
    <!-- <div class="absolute bottom-0 self-end place-self-end mb-4 mr-32">
      You can edit this post and submit your corrections ➡️
    </div>

    <div
      class="aspect-square w-24 overflow-hidden m-4 p-4 z-20 rounded-2xl bg-accent1 transition-all hover:brightness-105 hover:scale-[98%] active:scale-[90%] cursor-pointer sticky bottom-2 self-end shadow-xl-alt [&_*]:stroke-theme-300"
      (click)="this.editButtonClicked()"
    >
      <edit-icon></edit-icon>
    </div> -->
  </div>
</div>