<div
  class="flex h-full w-full overflow-hidden transition-colors flex-col xl:flex-row"
>
  @if (this.showRenderer) {
  <div
    class="preview bg-theme-600 flex-1 justify-center overflow-auto flex p-5 flex-col transition-colors text-nowrap text-foreground"
  >
    @if (this.mdTree) {
    <markdown-renderer
      [parsedContent]="this.mdTree.content"
    ></markdown-renderer>
    }
  </div>
  }

  <div
    class="editor bg-theme-300 h-full w-full flex-1 flex p-2 text-contrast relative overflow-y-auto font-fantasque"
  >
    <div
      class="w-8 h-full flex flex-col pointer-events-none select-none left-0"
    >
      @for (i of this.lineCount; track i) {
      <span class="opacity-50" [id]="'line-' + i">{{ i + 1 }}</span>
      }
    </div>
    <div
      [contentEditable]="true"
      #markdownArea
      (paste)="this.onPaste($event)"
      (keydown)="this.keyDownEvent($event)"
      (click)="this.clickEvent($event)"
      id="markdownArea"
      class="w-full flex flex-col h-max min-h-full flex-grow bg-transparent outline-none border-none resize-none text-nowrap overflow-x-auto justify-stretch items-stretch justify-items-stretch place-content-stretch [&>div]:min-w-full"
    >
      <div># Efe Enes Çamcı</div>
      <div>### Solutions Architect</div>
    </div>
  </div>
</div>
