.selected {
  background-color: var(--highlight);
}

.selected::before {
  opacity: 1 !important;
}

#markdownArea {
  counter-set: line;
}

#markdownArea * {
  background-color: none;
  font-size: medium;
  font-style: normal;
}

#markdownArea div {
  min-width: 100%;
  counter-increment: line;
}

#markdownArea div::before {
  display: block;
  position: absolute;
  opacity: 50%;
  z-index: 50;
  left: 0.5rem;
  content: counter(line);
}

#markdownArea img {
  display: none;
}