<div class="flex items-center justify-center font-inter">
  <div
    id="inner-fullscreen"
    class="w-full h-full flex p-2 lg:p-4 gap-2 flex-col"
  >
    <div id="placeholder_card" class="w-1/6 h-0"></div>

    <div
      class="flex w-full lg:w-1/2 h-12 transition-color bg-[#262628] rounded-lg p-2 gap-2"
    >
      <magnifying-glass
        class="h-full aspect-square p-2 outline-none [&_svg]:fill-contrast"
      />
      <input
        class="w-full bg-[#262628] focus:outline-none placeholder:text-white"
        [formControl]="searchControl"
        placeholder="Search themes in Visual Studio marketplace"
      />
    </div>

    <div
      id="content"
      class="transition-color flex-grow flex h-full relative rounded-lg justify-center"
    >
      @if (displayLoading) {
      <div
        id="extrablur"
        class="absolute top-0 w-full h-full backdrop-blur-lg opacity-0 pointer-events-none justify-center flex items-center z-20"
      >
        <div id="inner-container" class="w-3/4">
          <loading-bar
            class="h-12 flex rounded-lg"
            [progress]="this.downloadPercent"
          ></loading-bar>
        </div>
      </div>
      }
      <div
        id="contentbody"
        class="grid justify-between grid-cols-2 lg:grid-cols-3 auto-rows-[40%] pt-4 flex-grow gap-5"
      >
        @if (searching || searchResults === undefined) { @for (i of
        [1,1,1,1,1,1,1,1,1]; track i) {
        <div
          class="w-full h-full bg-[#262628] rounded-lg shadow-lg overflow-hidden"
        >
          <skeleton-loader class="w-full h-full"></skeleton-loader>
        </div>
        } } @else { @for (ext of searchResults!.results[0].extensions; track
        ext.extensionId) {
        <vs-card
        class="w-full h-full"
          [cardInfo]="ext"
          (selected)="this.themeSelected(ext, true)"
        ></vs-card>
        } }
      </div>
    </div>
  </div>
</div>