<div
  defer
  (deferLoad)="this.beginLoading()"
  class="w-full py-2 min-h-full flex flex-grow flex-col items-center justify-center relative"
>
  <h1 class="text-2xl md:text-3xl lg:text-4xl mb-4 text-accent1 font-extrabold self-start">Themes</h1>
  <div class="w-full flex flex-col gap-5 text-lg lg:text-xl mb-4">
    <h4>
      I couldn't decide on a theme or a color scheme. Choose one yourself from the 
      <b class="text-accent2">Visual Studio marketplace!</b>
    </h4>
    <h4>
      Click the theme button on the top right corner to search for your favorite
      Visual Studio Code theme, or pick from one of my favorites:
    </h4>
  </div>
  <carousel class="select-none self-start">
    @for (ext of placeholders; track ext) {
    <vs-card
      class="h-full w-full shadow-lg border border-border1 rounded-lg"
      [cardInfo]="ext"
      [cardStyle]="this.vsCardTheme"
    ></vs-card>
    }
  </carousel>
</div>
