<div
  defer (deferLoad)="this.beginLoading()"
  class="w-full min-h-full flex flex-grow flex-col items-center justify-center gap-10 relative"
>
  <div class="p-3 w-full lg:w-3/4 flex flex-col gap-5 text-lg lg:text-2xl">
    <h4>
      I couldn't decide on a theme or a color scheme. Here's all themes in <b class="text-accent1">Visual Studio marketplace</b>!
    </h4>
    <h4>
      Click the theme button on the top right corner to search for your favorite Visual Studio Code theme, or pick from one of my favorites:
    </h4>
  </div>
  <carousel class="select-none self-start">
    @for (ext of placeholders; track ext) {
    <carousel-item>
      <vs-card class="h-full w-full" [cardInfo]="ext" 
        [cardStyle]="this.vsCardTheme"
      ></vs-card>
    </carousel-item>
    }
  </carousel>
</div>
