<div
  (click)="themeSelected()"
  class="flex flex-col w-full h-full {{this.bgClass}} items-center p-2 justify-center bg-dark rounded-lg 
  transition-all relative cursor-pointer overflow-hidden {{ this.cardType == 'large' ? 'text-lg' : 'text-xl' }}"
>
  <div class="transition-colors {{this.bgClass}} rounded-lg w-full h-full flex flex-col items-center justify-center p-5 relative z-10 overflow-hidden">

    <!-- BEGIN ICON -->
    @defer (when this.cardInfo.extensionIcon !== undefined) {
      <!-- If extensionIcon is not yet loaded: -->
      @if (!this.cardInfo.extensionIcon) {
        <!-- If extensionIcon is false (therefore the icon doesn't exist): -->
        <div class="w-fit h-full flex-grow aspect-square rounded-lg bg-white font-extrabold text-2xl text-black flex justify-center items-center" >
          -
        </div>
      } 
      
      @else {
        <!-- If extensionIcon is not false (and is therefore a string per the type definition): -->
        <img id="theme_icon"
          draggable="false"
          class="overflow-hidden block mb-2 touch-none select-none object-contain w-fit flex-grow rounded-lg aspect-square h-full"
          [src]="this.cardInfo.extensionIcon"/>
      } 
      
    } @placeholder {
      <div class="object-contain w-fit h-full flex-grow rounded-lg overflow-hidden" >
        <skeleton-loader class="h-full w-full bg-[#1c1c1e] aspect-square block" />
      </div>
    }
    
    
    <!-- END ICON -->
    
    <!-- START TEXT CONTENT -->
    <div class="flex flex-col h-full w-full items-center justify-center overflow-hidden">
      @defer (when this.cardInfo.displayName !== undefined) {

        <span class="text-foreground transition-color">{{
          this.cardInfo.displayName
        }}</span>
        <a
          target="_blank"
          href="https://marketplace.visualstudio.com/publishers/{{
            this.cardInfo.publisher.publisherName
          }}"
          class="relative flex w-fit items-center text-accent1 flex-nowrap gap-2 border-b-[1px] border-accent1 transition-colors hover:border-contrast 
                  hover:text-contrast [&_svg]:transition-colors [&_svg]:fill-accent1 [&_svg]:hover:fill-contrast"
          ><span>{{ this.cardInfo.publisher.displayName }}</span><icon-arrow-up-right-from-square class="w-[1rem] aspect-square" />
        </a>
        @if (this.cardType === 'large') {
          <!-- Display description if large card -->
          <span class="text-ellipsis text-contrast transition-color overflow-hidden">{{ this.cardInfo.shortDescription }}</span>
        }

    } @placeholder {
      <!-- Skeleton loader start -->
      <skeleton-loader class="text-foreground transition-color rounded-lg overflow-hidden w-full h-8" />
      <skeleton-loader class="text-accent1 transition-color rounded-lg overflow-hidden w-full h-8 mt-2" />
      @if (this.cardType === 'large') {
        <skeleton-loader
          class="text-ellipsis text-contrast transition-color min-h-8 rounded-lg overflow-hidden h-full flex-grow w-full"
        />
      <!-- Skeleton loader end -->
      }
    }
    <!-- END TEXT CONTENT -->
    </div>
  </div>
  <div
      class="absolute left-0 top-0 h-full w-full"
      [style]="this.calculatedGradient"
    ></div>
</div>