.md-renderer {
  @apply text-contrast text-base lg:text-lg;
  text-wrap: pretty;
  text-justify: inter-word;
}

.md-renderer * {
  @apply text-contrast text-base lg:text-lg;
  text-wrap: pretty;
  text-justify: inter-word;
}

.md-renderer h1 {
  @apply text-4xl my-8 sm:text-5xl lg:text-6xl font-extrabold !text-foreground;
}

.md-renderer h2 {
  @apply text-2xl my-8 md:text-4xl lg:text-5xl;
}

.md-renderer h3 {
  @apply text-xl mt-6 mb-4 md:text-3xl lg:text-4xl !text-accent1;
}

.md-renderer h4 {
  @apply text-lg md:text-2xl lg:text-3xl;
}

.md-renderer h5 {
  @apply text-xl lg:text-2xl;
}

.md-renderer h6 {
  @apply text-lg lg:text-xl;
}

.md-renderer img {
  @apply w-full rounded-xl max-w-[300px] lg:max-w-[50%];
}

.md-renderer strong {
  font-weight: 800;
  display: inline-block;
}

.md-renderer ul {
  display: block;
  list-style-type: disc;
  margin-left: 2em;
  margin-right: 2em;
}

.md-renderer code {
  margin-left: 6px;
  margin-right: 0px;
}

.md-renderer a {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  color: var(--contrast);
  word-wrap: break-word !important;
  text-decoration: underline;
  text-decoration-color: inherit;
}

.md-renderer a:visited {
  color: inherit;
}

.md-renderer br {
  content: "";
  display: block;
  height: 10px;
  width: 100px;
}

.md-renderer blockquote {
  @apply rounded-lg p-3 bg-theme-300;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
  text-wrap: wrap;
}

.md-renderer ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

@media (prefers-color-scheme: light) {
  .md-renderer a {
    text-decoration-color: inherit;
  }
}