<div class="relative w-full flex flex-col mt-24">
  <!-- <div class="absolute w-full flex sm:flex">
    <div class="lg:w-[calc(12vw+21px)] xl:w-[calc(25vw+21px)]">
      <div class="lg:w-[calc(12vw)] xl:w-[calc(25vw)] h-2 bg-accent1"></div>
      <div class="lg:w-[calc(12vw+14px)] xl:w-[calc(25vw+14px)] h-2 bg-accent2"></div>
      <div class="lg:w-[calc(12vw+21px)] xl:w-[calc(25vw+21px)] h-2 bg-theme-300"></div>
    </div>
    
    <div class="ml-[6px] w-full overflow-hidden">
      <div class="lg:ml-[21px] h-2 w-full bg-foreground"></div>
      <div class="lg:ml-[14px] h-2 w-full bg-system"></div>
      <div class="lg:ml-[7px] h-2 w-full bg-theme-900"></div>
    </div>
  </div> -->

  <div class="w-full">
    <div
      class="flex h-full flex-col justify-end items-end py-6 z-10 mx-auto w-full sm:w-4/5 lg:w-3/5 xl:w-[40vw] text-contrast"
    >
      All rights of themes available for use on this website go to their
      rightful owners.
      <div class="flex gap-4">
        <a
          href="https://github.com/efeenesc"
          target="_blank"
          class="text-accent1 font-bold hover:underline"
          >GitHub</a
        >
        <a
          href="https://linkedin.com/in/efeenescamci"
          target="_blank"
          class="text-accent1 font-bold hover:underline"
          >LinkedIn</a
        >
        <a
          href="mailto:hello@efeenescamci.com"
          class="text-accent1 font-bold hover:underline"
          >Email</a
        >
      </div>
    </div>
  </div>
</div>
