<div
  class="flex flex-col h-max [&>section]:rounded-[1rem] lg:[&>section]:rounded-[2rem] gap-24 relative"
>
  <section class="p-2 lg:p-10 h-full flex-col flex-shrink-0 flex transition-colors">
    <div class="text-accent1 text-5xl mb-12">
      Projects
    </div>
    <div>
      <p class="text-foreground text-2xl mb-6">My unorganized thoughts and opinions on programming.</p>
      <p class="text-foreground text-2xl">I may often be incorrect 🤷 Feel free to correct me using markdown editor and commit your changes, all on the browser!</p>
    </div>
  </section>
</div>
