<div
  class="relative flex h-max flex-col gap-24 [&>section]:rounded-2xl lg:[&>section]:rounded-[2rem]"
>
  <section class="flex h-full shrink-0 flex-col p-2 transition-colors lg:p-10">
    <div class="mb-12 text-5xl text-accent1">
      Projects
    </div>
    <div>
      <p class="mb-6 text-2xl text-foreground">My unorganized thoughts and opinions on programming.</p>
      <p class="text-2xl text-foreground">I may often be incorrect 🤷 Feel free to correct me using markdown editor and commit your changes, all on the browser!</p>
    </div>
  </section>
</div>
