<div
  id="mainOverlay"
  class="flex justify-center items-center w-screen h-screen fixed pointer-events-none z-10"
>
  <div
    id="drawerMain"
    #drawerMain
    class="w-full lg:w-4/5 h-screen p-2 rounded-[2rem] bg-system-900 text-contrast relative top-full left-0 z-20 flex flex-col items-center select-none"
  >
    <div class="flex w-full h-[98vh] flex-col overflow-hidden">
      <div
        id="grabberDiv"
        class="flex justify-end cursor-grab active:cursor-grabbing h-[6vh]"
        (mousedown)="this.startDragging($event)"
      >
          <div id="grabberImg" class="w-1/5 h-2 bg-system-300 rounded-full mt-2 absolute left-1/2 -translate-x-1/2"></div>
        <div
          class="rounded-full aspect-square h-12 lg:h-14 bg-system-600 cursor-pointer justify-end"
          (click)="this.clickedOutside()"
        >
          <xmark
            class="fill-system-300"
            [internalClasses]="'h-full w-full p-2'"
          />
        </div>
      </div>
      <div class="h-[93vh] mb-2">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

  <div
    id="darkenedBg"
    #darkenedBg
    class="w-screen h-screen fixed top-0 left-0 bg-black opacity-0 transition-all"
    (click)="this.clickedOutside()"
  ></div>
</div>
