<div
  id="topbar"
  #topbar
  correct-overflow
  [pad-by]="9"
  class="w-full h-[10vh] backdrop-blur-sm overflow-hidden flex text-inverse gap-2 sm:gap-3 md:gap-4 lg:gap-5 will-change-transform fixed lg:rounded-b-xl lg:left-1/2 lg:-translate-x-1/2 lg:w-4/5 xl:w-3/5 left-0 top-0 z-20"
>
  <div class="w-full h-full flex py-2 px-2">
    <site-logo></site-logo>
    <div class="flex-1"></div>
    <!-- @if (this.mobileMode) {
  <div
    id="hamburger-menu"
    class="rounded-full flex items-center bg-theme-900 justify-center px-8 py-3 will-change-transform"
  >
    <hamburger-menu
      class="h-full aspect-square outline-none [&_svg]:fill-contrast flex items-center"
    ></hamburger-menu>
  </div>
  } @else {
  <nav class="flex justify-center gap-4 text-contrast [&>a]:flex [&>a]:h-full">
    <a routerLink="/">
      <div
        class="rounded-full flex items-center bg-theme-900 justify-center py-2 px-8"
      >
        HOME
      </div>
    </a>
    <a routerLink="blog">
      <div
        class="rounded-full flex items-center bg-theme-900 justify-center py-2 px-8"
      >
        BLOG
      </div> </a
    ><a routerLink="projects">
      <div
        class="rounded-full flex items-center bg-theme-900 justify-center py-2 px-8"
      >
        PROJECTS
      </div>
    </a>
  </nav>
  } -->

    <vs-search
      class="w-fit h-full overflow-hidden flex flex-row justify-self-end hover:scale-[98%] transition-all active:scale-90"
      [internalStyle]="this.themeBarStyle"
      [animationSeekAt]="this.topbarScrollProgress"
      (click)="this.emitThemeBarClickedEvent()"
    />
  </div>
</div>
