<div class="h-[10vh] w-full"></div>
<div
	id="topbar"
	#topbar
	correct-overflow
	[padBy]="14"
	class="fixed left-1/2 top-0 z-10 my-1 ml-[-50%] mt-2 flex h-[10vh] w-full justify-center px-1 text-inverse"
>
	<div class="flex size-full xs:w-4/5 md:w-3/5 lg:w-1/2 xl:w-2/5">
		<div
			id="site-logo-placeholder"
			class="block aspect-square h-full w-auto rounded-full"
		></div>
		<div
			id="website-logo-svg"
			(mousedown)="this.startDragging($event)"
			(pointerdown)="this.startDragging($event)"
			(mouseover)="this.onMouseOver()"
			(mouseleave)="this.restoreLogoPos()"
			(click)="this.onClick()"
			(focus)="this.onMouseOver()"
			(keydown)="this.keyPressed($event)"
			tabindex="0"
			class="fixed aspect-square rounded-full fill-white transition-[background-color] hover:cursor-pointer focus:outline-0 focus-visible:outline-1"
			[class.top-bar-scrolled-down]="this.applyBackground()"
			[class.backdrop-blur-lg]="this.applyBackgroundBlur()"
		>
			<site-logo></site-logo>
		</div>
		<div class="pointer-events-none flex-1"></div>

		<div
			class="flex h-full rounded-full transition-all"
			[class.top-bar-scrolled-down]="this.applyBackground()"
			[class.backdrop-blur-lg]="this.applyBackgroundBlur()"
		>
			<vs-search
				class="flex h-full text-white"
				[animationSeekAt]="this.topbarScrollProgress()"
				(clicked)="this.emitThemeBarClickedEvent()"
			/>
		</div>
	</div>
</div>
