<div class="h-[10vh] w-full"></div>
<div
	id="topbar"
	#topbar
	class="fixed left-1/2 top-0 z-10 my-1 ml-[-50%] mt-2 flex h-[10vh] w-full justify-center px-2 text-inverse"
>
	<div
		class="flex size-full justify-between px-1 xs:w-4/5 md:w-3/5 lg:w-1/2 xl:w-2/5"
	>
		<div
			#logoplaceholder
			class="block aspect-square h-full w-auto rounded-full"
		></div>
		<div
			#sitelogo
			(mousedown)="this.startDragging($event)"
			(pointerdown)="this.startDragging($event)"
			(mouseover)="this.onMouseOver()"
			(mouseleave)="this.restoreLogoPos()"
			(click)="this.onClick()"
			(focus)="this.onMouseOver()"
			(keydown)="this.keyPressed($event)"
			tabindex="0"
			class="fixed aspect-square rounded-full bg-theme-600 fill-black p-1 shadow-light hover:cursor-pointer focus:outline-0 focus-visible:outline-1 dark:fill-white"
		>
			<site-logo></site-logo>
		</div>

		@if (mobileMode()) {
			<div class="h-full w-fit max-w-fit transition-all">
				<mini-toc
					style="opacity: 0"
					class="flex w-min overflow-hidden rounded-full bg-theme-600 shadow-light"
					[show]="this.applyBackground()"
				></mini-toc>
			</div>
		}

		<div
			class="mr-1 h-full rounded-full bg-theme-600 pr-4 shadow-light [&_span]:text-contrast"
			correct-overflow
			[padBy]="11"
		>
			<vs-search
				class="flex h-full text-white"
				[animationSeekAt]="this.topbarScrollProgress()"
				(clicked)="this.emitThemeBarClickedEvent()"
			/>
		</div>
	</div>
</div>
