<div class="flex w-full flex-col">
	<h1
		class="mb-4 self-start text-2xl font-extrabold text-accent1 md:text-3xl lg:text-4xl"
	>
		Shorts
	</h1>

	<div
		class="flex w-full flex-col items-center justify-center gap-2 self-center rounded-xl"
	>
		<span class="self-start lg:text-lg">
			Streams of consciousness too short to be blog posts, and too large not to
			share:
		</span>

		<div
			class="mt-6 flex w-full flex-col items-center justify-center gap-2 self-center"
		>
			@if (this.blogs().length > 1) {
				@for (b of this.blogs().slice(0, showCount); track b.id) {
					<div class="z-50 w-full">
						<normal-card [info]="b" />
					</div>
				}
				@for (
					exp of this.blogs().slice(showCount);
					track exp.name;
					let i = $index, c = $count
				) {
					<div
						class="card-container w-full"
						[class.collapsed]="!showingMore()"
						[class.expanded]="showingMore()"
						[style.--delay]="i * 100 + 'ms'"
						[style.--duration]="300 + i * 100 + 'ms'"
						[style.--yPos]="-80 + i * 5 + 'px'"
						[style.--scale]="1 - (i + 1) * 0.05"
						[style.--z-index]="40 - i"
					>
						<normal-card [info]="exp" />
					</div>
				}
				<div class="sticky bottom-0 right-0 z-50 self-end pb-4 transition-all">
					<button
						(click)="this.toggleShowMore()"
						class="bg-accent1/20 flex flex-col gap-3 self-end rounded-full p-4 shadow-light backdrop-blur-md transition-all hover:bg-highlight-solid active:translate-y-1 active:shadow-dark-inset lg:flex-row"
					>
						<icon-arrow-down
							class="aspect-square w-6 stroke-contrast transition-[rotate] duration-300"
							[style.rotate]="showingMore() ? '180deg' : '0deg'"
						></icon-arrow-down>
						@if (!showingMore()) {
							Show {{ this.blogs().length - showCount }} more
						} @else {
							Collapse
						}
					</button>
				</div>
			} @else {
				@for (num of [0, 1, 2]; track num) {
					<div
						class="flex w-full cursor-pointer flex-col gap-2 rounded-3xl px-2 py-4 transition-all duration-300"
					>
						<div class="flex h-7 w-full lg:h-8">
							<skeleton-loader class="block w-full bg-theme-900" />
						</div>
						<div class="flex h-6 w-full lg:h-7">
							<skeleton-loader class="block w-full bg-theme-900" />
						</div>
					</div>
				}
			}
		</div>

		<!-- @if (this.blogs().length > 1) {
			@for (b of this.blogs(); track b.id) {
				<div
					class="flex w-full cursor-pointer flex-col rounded-3xl bg-theme-600 p-4 shadow-light transition-all hover:bg-highlight-solid active:translate-y-1 active:shadow-dark-inset"
					tabindex="0"
					(keydown)="this.keyPressed($event, b)"
					(click)="this.blogCardClicked(b)"
				>
					<div class="text-lg font-bold text-foreground lg:text-2xl">
						{{ b.title }}
					</div>
					<span class="text-base">{{ b.created_at }}</span>
				</div>
			}
		} -->
	</div>
</div>
