<div class="flex w-full flex-col">
	<h1
		is-heading
		class="mb-4 self-start text-2xl font-extrabold text-accent1 md:text-3xl lg:text-4xl"
	>
		Shorts
	</h1>

	<div class="z-[1] flex w-full flex-col justify-center gap-2 self-center">
		<p>Blog-like posts too short to be called blog posts:</p>

		<div
			class="mt-6 flex w-full flex-col items-center justify-center gap-2 self-center"
		>
			@if (this.blogs().length > 1) {
				@for (b of this.blogs().slice(0, showCount); track b.id) {
					<div class="z-50 w-full">
						<normal-card [info]="b" />
					</div>
				}
				@if (this.blogs().length > showCount) {
					@for (
						exp of this.blogs().slice(showCount);
						track exp.name;
						let i = $index, c = $count
					) {
						<div
							class="card-container w-full"
							[class.collapsed]="!showingMore()"
							[class.expanded]="showingMore()"
							[style.--delay]="i * 100 + 'ms'"
							[style.--duration]="300 + i * 100 + 'ms'"
							[style.--yPos]="-80 + i * 5 + 'px'"
							[style.--scale]="1 - (i + 1) * 0.05"
							[style.--z-index]="40 - i"
						>
							<normal-card [info]="exp" />
						</div>
					}
					<div
						class="sticky bottom-0 right-0 z-50 max-h-0 self-end overflow-visible pb-16 transition-all"
					>
						<button
							(click)="this.toggleShowMore()"
							class="flex h-fit flex-row items-center gap-3 self-end rounded-full bg-accent1/20 p-4 shadow-light backdrop-blur-md transition-all hover:bg-highlight-solid active:translate-y-1 active:shadow-dark-inset"
						>
							<icon-arrow-down
								class="aspect-square h-fit w-6 stroke-contrast transition-[rotate] duration-300"
								[style.rotate]="showingMore() ? '180deg' : '0deg'"
							></icon-arrow-down>
							@if (!showingMore()) {
								Show {{ blogs().length - showCount }} more
							} @else {
								Collapse
							}
						</button>
					</div>
				}
			}
		</div>
	</div>
</div>
