<div class="font-inter text-contrast">
  <vs-search />
</div>

<main
  class="w-full h-max bg-darkest font-inter transition-colors text-contrast
  bg-noise {{ this.blendClass }} overflow-x-hidden fixed top-0 left-0 will-change-transform"
  id="main"
  #main
>
  <div class="topbar w-full h-0 lg:h-20"></div>

  <div class="flex flex-col">

  <section
    class="p-2 lg:p-0 lg:m-12 flex-grow h-screen flex transition-colors"
  >
    <div class="w-full h-full lg:h-3/4 grid lg:grid-rows-1 lg:grid-cols-[49%_2%_49%] lg:grid-flow-row grid-rows-[49%_2%_49%] grid-flow-row">
      <div
        class="flex-1 justify-center overflow-auto flex p-1 lg:m-1 lg:p-5 flex-col transition-colors text-nowrap text-foreground outline-dashed outline-border1 rounded-2xl"
      >
        @if (this.markdown) {
        <markdown-renderer
        class="inline-block"
          [parsedContent]="this.markdown.content"
        >
        <div class="inline-block w-2 h-4 bg-contrast" id="caret"></div>
      </markdown-renderer>
        }

        
        
      </div>

      <div id="blank"></div>

      <div
        class="h-auto flex flex-col shadow-xl bg-darker group border-border1 border rounded-2xl scale-[99%] focus-within:scale-100 focus-within:shadow-2xl transition-all overflow-hidden"
      >
        <div
          class="title w-full h-[6%] flex items-center opacity-50 group-has-[:focus]:opacity-100 justify-center"
        >
          <span class="select-none text-sm lg:text-lg">markdown editor</span>
        </div>
        <markdown-editor
          class="overflow-hidden block h-full rounded-xl"
          (result)="markdownChanged($event)"
          [showRenderer]="false"
        ></markdown-editor>
      </div>
    </div>
  </section>

  <section class="min-h-screen flex w-full justify-center overflow-x-hidden">
    <themes-section></themes-section>
  </section>

  <!-- <router-outlet /> -->

  <section class="min-h-screen flex w-full justify-center overflow-x-hidden">
    <projects-section></projects-section>
  </section>

  <section
    class="footer w-full justify-self-center p-5 flex items-center justify-center"
  ></section>

  </div>
</main>
