<div
  class="flex flex-col h-max [&>section]:rounded-[1rem] lg:[&>section]:rounded-[2rem] gap-24 relative"
>
  <section class="h-[80vh] flex transition-colors ml-12">
    <div class="w-[40%] relative">
      <div
        class="absolute invisible z-10 w-full h-full bg-theme-900 overflow-hidden p-6 pt-12 transition-colors text-nowrap text-foreground outline-border1 rounded-3xl lg:rounded-[50px] shadow-xl"
      >
        @if (this.markdown) {
        <markdown-renderer
          class="inline-block text-wrap m-0 p-0"
          [parsedContent]="this.markdown.content"
        >
          <div class="inline-block w-2 h-4 bg-contrast" id="caret"></div>
        </markdown-renderer>
        }
      </div>
      <div
        class="absolute flex flex-row-reverse left-16 focus-within:left-[102%] focus-within:h-full focus-within:w-full top-1/2 -translate-y-1/2 w-[calc(100%-2rem)] h-[calc(100%-2rem)] shadow-xl bg-theme-600 group border-border1 border rounded-3xl lg:rounded-[50px] focus-within:shadow-2xl transition-all duration-500 overflow-hidden"
      >
        <div
          class="title text- h-[6%] flex items-center opacity-50 group-has-[:focus]:opacity-100 justify-center"
        >
          <span class="select-none text-sm lg:text-lg">ABOUT.md</span>
        </div>
        <markdown-editor
          class="overflow-hidden block h-full rounded-xl"
          (result)="markdownChanged($event)"
          [showRenderer]="false"
        ></markdown-editor>
      </div>
    </div>
  </section>

  <section class="min-h-screen flex w-full justify-center overflow-x-hidden">
    <themes-section></themes-section>
  </section>

  <section
    class="footer w-full justify-self-center p-5 flex items-center justify-center"
  ></section>
</div>
