:host {
	@apply text-base text-contrast lg:text-xl;
	text-wrap: pretty;
	line-height: 1.5;
	font-weight: 450;
}

h1 {
	@apply my-8 text-4xl font-extrabold !text-foreground sm:text-5xl lg:text-6xl;
}

h2 {
	@apply my-8 text-2xl md:text-4xl lg:text-5xl;
}

h3 {
	@apply mb-4 mt-6 text-xl !text-accent1 md:text-3xl lg:text-4xl;
}

h4 {
	@apply text-lg md:text-2xl lg:text-3xl;
}

h5 {
	@apply text-xl lg:text-2xl;
}

h6 {
	@apply text-lg lg:text-xl;
}

img {
	@apply w-full max-w-[300px] rounded-xl lg:max-w-[50%];
}

strong {
	font-weight: 800;
	display: inline-block;
}

ul {
	display: block;
	list-style-type: disc;
	margin-left: 2em;
	margin-right: 2em;
}

code {
	margin-left: 6px;
	margin-right: 0px;
}

a {
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	color: var(--contrast);
	word-wrap: break-word !important;
	text-decoration: underline;
	text-decoration-color: inherit;
}

a:visited {
	color: inherit;
}

br {
	content: "";
	display: block;
	height: 10px;
	width: 100px;
}

blockquote {
	@apply rounded-lg bg-theme-300 p-3;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
	unicode-bidi: isolate;
	text-wrap: wrap;
}

ol {
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

@media (prefers-color-scheme: light) {
	a {
		text-decoration-color: inherit;
	}
}
