<div
	class="relative z-10 aspect-square h-full scale-100 transform-gpu touch-manipulation select-none overflow-hidden rounded-3xl bg-system-300 transition-all will-change-transform hover:scale-105"
	style="-webkit-touch-callout: none"
	tabindex="0"
	(mouseenter)="onMouseEnter()"
	(mouseleave)="onMouseLeave()"
	(pointerdown)="onPointerDown($event)"
	(pointerup)="onPointerUp($event)"
	(pointerleave)="onPointerLeave()"
	(keydown)="triggerVideo()"
>
	@if (shortVideoShownUrl()) {
		<video
			#video
			[src]="shortVideoShownUrl()"
			muted
			autoplay
			playsinline
			oncanplay="this.play()"
			onloadedmetadata="this.muted = true; this.playsinline = true"
			(ended)="videoEnded()"
			(playing)="onVideoLoad()"
			class="absolute inset-0 size-full rounded-3xl object-cover"
			muted
		></video>
	}

	<div
		class="bg-accent1/50 absolute left-1/2 top-2 z-20 flex -translate-x-1/2 gap-2 rounded-full p-1 px-2 backdrop-blur"
	>
		<icon-live-photo class="aspect-square h-6 [&_path]:fill-white" />
		<span class="text-white">LIVE</span>
	</div>

	@if (isLongPressing()) {
		<div
			class="pointer-events-none absolute inset-0 z-20"
			[style.background]="
				'linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) ' +
				longPressProgress() * 100 +
				'%, transparent ' +
				(longPressProgress() * 100 + 5) +
				'%)'
			"
		></div>
	}
	<img
		#image
		[src]="mainPhotoUrl()"
		draggable="false"
		class="absolute left-0 top-0 z-10 size-full object-cover"
		alt="Efe Enes Çamcı"
	/>
</div>
