<div
  class="flex flex-col lg:w-4/5 mx-auto min-h-screen h-max bg-theme-900 rounded-[1rem] lg:rounded-[2rem] gap-12 relative overflow-hidden"
>
  <div
    class="w-full h-full grid lg:grid-rows-1 lg:grid-cols-[49%_2%_49%] lg:grid-flow-row"
  >
    <div class="flex flex-col justify-center items-center text-center p-8">
      <h1 class="text-6xl font-bold text-foreground mb-4">404</h1>
      <p class="text-xl text-foreground mb-8">
        Could not find the page you were looking for.
      </p>
      <a href="/" class="text-lg text-accent1 underline">
        Go back to the homepage
      </a>
    </div>
    <div class="hidden lg:block"></div>
    <div class="flex justify-center items-center">
      <img src="assets/images/error-illustration.svg" alt="Error Illustration" class="max-w-full h-auto">
    </div>
  </div>
</div>
