<div
  class="w-full h-full flex flex-grow flex-col items-center justify-center gap-10 relative"
>
  <div class="p-3 w-full lg:w-3/4 flex flex-col gap-5 text-3xl lg:text-4xl">
    <h4>
      I couldn't decide on a color scheme, so I thought I'd leave it to
      <b class="text-accent1">you!</b>
    </h4>
    <h4>
      Click the theme button on the top right corner to search for a theme in
      Visual Studio marketplace, or pick from one of my favorites:
    </h4>
  </div>
  <carousel class="select-none self-start">
    @for (ext of placeholders; track ext) {
    <carousel-item>
      @defer (when ext.displayName) {
      <div
        class="flex flex-col w-full h-full shadow-xl items-center justify-center py-6 px-2 overflow-hidden cursor-pointer bg-dark {{
          ext.extensionId === this.currentThemeId ? 'bg-highlight' : ''
        }}"
        (click)="this.itemSelected(ext)"
      >
        <img
          draggable="false"
          class="rounded-lg overflow-hidden object-cover block mb-2 touch-none select-none"
          [src]="ext.extensionIcon"
        />
        <span class="text-foreground">{{ ext.displayName }}</span>
        <a
          target="_blank"
          href="https://marketplace.visualstudio.com/publishers/{{
            ext.publisher.publisherName
          }}"
          class="relative flex items-center text-accent1 flex-nowrap gap-2 border-b-[1px] border-accent1 transition-colors hover:border-contrast hover:text-contrast [&_svg]:transition-colors [&_svg]:fill-accent1 [&_svg]:hover:fill-contrast"
          ><span>{{ ext.publisher.displayName }}</span
          ><icon-arrow-up-right-from-square class="w-[1rem] aspect-square"
        /></a>
      </div>
      } @placeholder (minimum 5s) {
      <div class="w-full h-full bg-dark">
        <skeleton-loader class="w-full h-full"></skeleton-loader>
      </div>
      }
    </carousel-item>
    }
  </carousel>
</div>
