<div class="flex w-full flex-col">
	<h1
		is-heading
		class="mb-4 self-start text-2xl font-extrabold text-accent1 md:text-3xl lg:text-4xl"
	>
		Technologies
	</h1>
	<div class="z-[1] flex w-full flex-col gap-2 self-center rounded-xl">
		<p class="mb-2">
			I have varying amounts of experience with a lot of popular programming
			languages.
			<small>I don't know what I mean by "popular".</small>
		</p>

		<p class="mt-2">
			I mostly use <b style="--color: #387cc8">TypeScript</b>,
			<b style="--color: #1fafd8">Go</b>,
			<b style="--color: #ffcb41">Python</b>, and
			<b style="--color: #178600">C#</b>. These four are enough for me to create
			pretty much any website or application.
		</p>

		<p class="mt-2">
			I have some experience with <b style="--color: #137fd5">C</b>,
			<b style="--color: #137fd5">C++</b>, <b style="--color: #ea9820">Java</b>,
			<b style="--color: #4141f1">Lua</b>, and
			<b style="--color: #8d96c0">PHP</b>. I don't get to use them as much as I
			want to, what with picking the best tool for the job and all.
		</p>

		<p class="mt-2">
			As far as web frameworks go, I'm pretty good at
			<b style="--color: #1fd9fe">React</b>,
			<b style="--color: #f31454">Angular</b>, and
			<b style="--color: #ff4412">Svelte</b> - although I prefer Svelte over the
			other two.
			<small class="text-nowrap"
				>Don't ask why this website uses Angular.</small
			>
		</p>

		<p class="mt-2">
			There's a lot more that I have experience with. I assume this has been
			boring to read through, so here's the rest of my experience in some
			semblance of categorization:
		</p>

		<div class="mt-6 space-y-3 text-sm">
			<div class="flex flex-col md:flex-row">
				<span class="mr-1">Backend & APIs:</span>
				<div>
					<b style="--color: #68bd45">Node.js</b>&nbsp;
					<b style="--color: #178600">.NET Core</b>&nbsp;
					<b style="--color: #178600">EF Core</b>&nbsp;
					<b style="--color: #e535ab">GraphQL</b>&nbsp;
					<b style="--color: #85ea2d">REST API</b>&nbsp;
					<b style="--color: #1ba1e2">SOAP API</b>
				</div>
			</div>

			<div class="flex flex-col md:flex-row">
				<span class="mr-1">Desktop & Mobile:</span>
				<div>
					<b style="--color: #178600">WPF</b>&nbsp;
					<b style="--color: #178600">WinUI 3</b>&nbsp;
					<b style="--color: #137fd5">Win32 API</b>&nbsp;
					<b style="--color: #47848f">Electron</b>&nbsp;
					<b style="--color: #1fd9fe">React Native</b>&nbsp;
					<b style="--color: #1fafd8">Wails</b>
				</div>
			</div>

			<div class="flex flex-col md:flex-row">
				<span class="mr-1">Databases:</span>
				<div>
					<b style="--color: #cc2927">MSSQL</b>&nbsp;
					<b style="--color: #336791">PostgreSQL</b>&nbsp;
					<b style="--color: #003b57">SQLite</b>&nbsp;
					<b style="--color: #00758f">MySQL</b>&nbsp;
					<b style="--color: #dc382d">Redis</b>
				</div>
			</div>

			<div class="flex flex-col md:flex-row">
				<span class="mr-1">Cloud & DevOps:</span>
				<div>
					<b style="--color: #0078d4">Azure</b>&nbsp;
					<b style="--color: #0078d4">Microsoft 365</b>&nbsp;
					<b style="--color: #0078d4">Intune</b>&nbsp;
					<b style="--color: #2496ed">Docker</b>
				</div>
			</div>

			<div class="flex flex-col md:flex-row">
				<span class="mr-1">Testing & Tools:</span>
				<div>
					<b style="--color: #6e9f18">Vitest</b>&nbsp;
					<b style="--color: #2d8a3e">Playwright</b>&nbsp;
					<b style="--color: #06b6d4">Tailwind</b>&nbsp;
					<b style="--color: #008080">LaTeX</b>
				</div>
			</div>

			<div class="flex flex-col md:flex-row">
				<span class="mr-1">Security & Networking:</span>
				<div>
					<b style="--color: #4682b4">Nmap</b>&nbsp;
					<b style="--color: #00d4aa">Nessus</b>&nbsp;
					<b style="--color: #2e8b57">OpenVAS</b>&nbsp;
					<b style="--color: #ff6b35">Metasploit</b>&nbsp;
					<b style="--color: #ff6b35">WebRTC</b>
				</div>
			</div>
		</div>
	</div>
</div>
