@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--theme-900: #737163;
	--theme-600: #c7c4a8;
	--theme-300: #c7c4a8;
	--foreground: #3d3929;
	--accent1: #c8915e;
	--accent2: #4b4848;
	--border1: #747474;
	--contrast: #000000;
	--highlight: #f3c092;

	--light-system-900: #fafafa;
	--light-system-700: #ebebeb;
	--light-system-600: #d3d3d3;
	--light-system-300: #808082;
	--light-system-200: #89888a;

	--dark-system-900: #1c1c1e;
	--dark-system-700: #262628;
	--dark-system-600: #2c2c2e;
	--dark-system-300: #616368;
	--dark-system-200: #787b81;

	--rainbow-bg: linear-gradient(
		to right,
		var(--accent1) 0%,
		var(--accent1) 14.28%,
		var(--accent2) 14.28%,
		var(--accent2) 28.57%,
		var(--theme-300) 28.57%,
		var(--theme-300) 42.85%,
		var(--theme-600) 42.85%,
		var(--theme-600) 57.14%,
		var(--theme-900) 57.14%,
		var(--theme-900) 71.42%,
		var(--system) 71.42%,
		var(--system) 85.71%,
		var(--foreground) 85.71%,
		var(--foreground) 100%
	);
}

[data-theme="light"] {
	--system-900: var(--light-system-900);
	--system-700: var(--light-system-700);
	--system-600: var(--light-system-600);
	--system-300: var(--light-system-300);
	--system-200: var(--light-system-200);
}

[data-theme="dark"] {
	--system-900: var(--dark-system-900);
	--system-700: var(--dark-system-700);
	--system-600: var(--dark-system-600);
	--system-300: var(--dark-system-300);
	--system-200: var(--dark-system-200);
}

html,
body {
	height: 100%;
	background-color: var(--theme-900);
}

::-webkit-scrollbar {
	background-color: var(--system);
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--system);
}

::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 10px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-moz-selection {
	background: var(--highlight);
}
::selection {
	background: var(--highlight);
}
.hero-bg {
	overflow: hidden;
}

.hero-bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	/* Static radial gradient background */
	background: radial-gradient(
		99% 99% at 50% 50%,
		var(--accent1) 0%,
		var(--accent2) 100%
	);
}

.hero-bg::after {
	/* Animated repeating gradient overlay */
	content: "";
	position: absolute;
	top: -50%;
	left: -55%;
	width: 175%;
	height: 175%;
	background: repeating-radial-gradient(
		circle at 0% 0%,
		theme("colors.theme-600 / 0.1") 95%,
		theme("colors.theme-900 / 0.2") 100%
	);
	animation: drift 10s infinite steps(300);
	z-index: 0;
}

@keyframes drift {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-10%, -10%);
	}
}
