@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--theme-900: #737163;
	--theme-600: #c7c4a8;
	--theme-300: #c7c4a8;
	--foreground: #3d3929;
	--accent1: #c8915e;
	--accent2: #4b4848;
	--border1: #747474;
	--contrast: #000000;
	--highlight: #f3c092;

	--light-system-900: #fafafa;
	--light-system-700: #ebebeb;
	--light-system-600: #d3d3d3;
	--light-system-300: #808082;
	--light-system-200: #89888a;

	--dark-system-900: #1c1c1e;
	--dark-system-700: #262628;
	--dark-system-600: #2c2c2e;
	--dark-system-300: #616368;
	--dark-system-200: #787b81;

	--rainbow-bg: linear-gradient(
		to right,
		var(--accent1) 0%,
		var(--accent1) 14.28%,
		var(--accent2) 14.28%,
		var(--accent2) 28.57%,
		var(--theme-300) 28.57%,
		var(--theme-300) 42.85%,
		var(--theme-600) 42.85%,
		var(--theme-600) 57.14%,
		var(--theme-900) 57.14%,
		var(--theme-900) 71.42%,
		var(--system) 71.42%,
		var(--system) 85.71%,
		var(--foreground) 85.71%,
		var(--foreground) 100%
	);
}

[data-theme="light"] {
	--system-900: var(--light-system-900);
	--system-700: var(--light-system-700);
	--system-600: var(--light-system-600);
	--system-300: var(--light-system-300);
	--system-200: var(--light-system-200);
}

[data-theme="dark"] {
	--system-900: var(--dark-system-900);
	--system-700: var(--dark-system-700);
	--system-600: var(--dark-system-600);
	--system-300: var(--dark-system-300);
	--system-200: var(--dark-system-200);
}

html,
body {
	height: 100%;
	background-color: var(--theme-900);
}

::-webkit-scrollbar {
	background-color: var(--system);
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--system);
}

::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 10px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-moz-selection {
	background: var(--highlight);
}
::selection {
	background: var(--highlight);
}

small {
	opacity: 60%;
}
.highlight-wrappable {
	text-wrap: wrap;
	display: inline;
	background-color: var(--bg, var(--color, var(--accent2)));
	background-size: 100% 100%;
	mask-image: url("assets/brush.svg");
	mask-size: 100% 100%;
	padding: 0.2em 0.4em;
	margin: -0.1em -0.2em;
	line-height: 1.6em;
	border-radius: 4px;
	opacity: var(--opacity, 100%);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}
.highlight-wrappable::before {
	display: none;
}
b {
	position: relative;
	color: var(--color, var(--accent1));
	text-wrap: nowrap;
}
b::before {
	content: "";
	position: absolute;
	left: -2px;
	top: 0;
	width: calc(100% + 4px);
	height: 105%;
	z-index: -1;
	opacity: var(--opacity, 30%);
	background-color: var(--bg, var(--color, var(--accent2)));
	mask-image: url("assets/brush.svg");
	mask-size: 100% 100%;
}
b:nth-of-type(2n)::before {
	left: -4px;
	width: calc(100% + 8px);
	height: 105%;
	mask-image: url("assets/brush2.svg");
}
b:nth-of-type(3n)::before {
	left: -4px;
	width: calc(100% + 8px);
	mask-image: url("assets/brush3.svg");
}

.top-bar-scrolled-down {
	@apply bg-accent1/10 shadow-light;
}

.hero-bg {
	overflow: hidden;
	background: radial-gradient(
		99% 99% at 50% 50%,
		var(--accent1) 0%,
		var(--accent2) 100%
	);
}

.hero-bg::after {
	/* Animated repeating gradient overlay */
	content: "";
	position: absolute;
	top: -50%;
	left: -55%;
	width: 175%;
	height: 175%;
	background: repeating-radial-gradient(
		circle at 0% 0%,
		theme("colors.theme-600 / 0.1") 95%,
		theme("colors.theme-900 / 0.2") 100%
	);
	animation: drift 10s infinite steps(300, jump-both);
	z-index: 0;
}

.link-icon {
	position: relative;
	pointer-events: none;
}
.link-icon::before {
	content: "";
	position: absolute;
	top: 0%;
	left: calc(100% + 10px);
	height: 100%;
	aspect-ratio: 1/1;
	opacity: 50%;
	background: var(--theme-600);
	pointer-events: all;
	cursor: pointer;
	border-radius: 10px;
	transition-property: opacity;
	transition-duration: 300ms;
}
.link-icon::after {
	content: "";
	position: absolute;
	top: 15%;
	left: calc(100% + 10px);
	transform: translateX(20%);
	height: 70%;
	aspect-ratio: 1/1;
	background-color: var(--contrast);
	opacity: 50%;
	pointer-events: all;
	mask-image: url("assets/link.svg");
	mask-size: 100% 100%;
	cursor: pointer;
}
.link-icon:hover::before {
	opacity: 100%;
}
.link-icon:hover::after {
	opacity: 100%;
	background-color: var(--accent1);
}

@keyframes drift {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-5%, -5%);
	}
}
